body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  justify-content: center;
}

.hero-section {
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #1f2937;
  display: flex;
  padding: 10px 50px 100px;
}

.hero-main {
  flex: 1 0 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.call-window {
  background-color: #3882f6;
}

button {
  background-color: #3882f6;
}

footer {
  background-color: #1f2937;
  padding: 1em;
  color: white;
}
