body {
  margin: 0;
  font-size: 1.5em;
  font-family: sans-serif;
}
.wrapper {
  display: flex;
  flex-flow: column wrap;
  /* min-height: 100vh; */
}

/* ayudas visuales para maquetar, luego reestilar/borrar */
section {
  background-color: #fff;
  border: 5px solid rgb(29, 139, 128);
  min-height: 20vh;
}

.placeholder {
  height: 200;
  width: 500;
}

.hero-section {
  flex: 1 0;
  padding: 20px 300px 50px;
  background-color: #1f2937;
  color: #f9fafb;
}

.feature-section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 40px 0 200px;
}

.quote-section {
  padding: 100px 400px;
  flex: 1 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.action-section {
  flex: 1 0;
  padding: 150px 300px;
  display: flex;
  justify-content: center;
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: #1f2937;
  color: #e5e7eb;
}

.menu-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1em;
}

a {
  text-decoration: none;
  color: #f9fafb;
  /* segun el caso: */
  /* color: white; */
}

.hero-main {
  display: flex;
  justify-content: center;
  gap: 120px;
}

.left {
  flex: 1 0 0;
  max-width: 500px;
}

.left > h1 {
  font-size: 3em;
}

.right {
  flex: 1 0 0;
  max-width: 500px;
  background: gray;
}

.action-inner-title {
  margin: 0;
}

button {
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 0.6em 2em;
  text-align: center;
  font-size: 0.8em;
  border-radius: 8px;
}

/* empieza la 2nda columna (feature section) */

.feature-section > h1 {
  flex: 1 0 100%;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.card {
  flex: 0 1 0;
  text-align: center;
}

.card-placeholder {
  border: 4px solid #3b82f6;
  height: 180px;
  width: 180px;
  border-radius: 8px;
}

/* terminada segunda seccion */

.quote {
  flex: 1 0 100%;
  font-size: 2em;
  color: #2f3946;
}

.quote-author {
  margin-left: auto;
  font-weight: 900;
  font-size: 1.2em;
}

/* terminada tercera seccion */

.action-frame {
  display: flex;
  background-color: #3b82f6;
  color: #f9fafb;
  padding: 30px 90px;
  border-radius: 8px;
  gap: 100px;
}

.button-wrap {
  display: flex;
  align-items: center;
}

.action-buttom {
  background-color: #3b82f6;
  color: #f9fafb;
  border: 2px solid #f9fafb;
  padding: 0.6em 2em;
  text-align: center;
  font-size: 0.8em;
  border-radius: 8px;
}

.action-inner-text {
  color: #e4e6eb;
  margin: 0;
}
